<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="putra.kobal">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/main_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplaschActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Daftar User" />
        <activity
            android:name=".RegisterDriver"
            android:label="Daftar Driver" />
        <activity
            android:name=".BerandaActivity"
            android:label="Kobal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginDriver"
            android:label="Login Driver" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".InfoJalurActivity"
            android:label="@string/title_activity_info_jalur" />
        <activity
            android:name=".ListSewaAngkot"
            android:label="Sewa Angkot" />
        <activity
            android:name=".DetailAngkot"
            android:label="Detail Angkot" />
        <activity
            android:name=".BerandaDriver"
            android:label="@string/title_activity_beranda_driver"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PermintaanSewa"
            android:label="Permintaan Sewa" />
        <activity
            android:name=".DetailPermintaan"
            android:label="Detail Permintaan" />
        <activity android:name=".BantuanActivity"
            android:label="Bantuan"></activity>
    </application>

</manifest>